page-ekleyi-sec {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    #ilk_button{
        margin-top: 20px;
        margin-bottom: 40px;
        height: 120px;

    }
     #ikinci_button{
        margin-bottom: 40px;
        height: 120px;
     }

}
