tursec{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

     #ilkkart{
         margin-top: 20px;
         height: 100px;
     }
    #isimler{
        font-weight: bold !important ;
        color :black !important;
        font-size: 18pt;
        text-align: center;
    }
    #isimler2{
        font-weight: bold !important ;
        color :black !important;
        font-size: 15pt;
    }
}