turdenliste{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    #pleksayisi{
         font-size: 12pt;
            font-weight: bold;
            text-align: center;
    }
        #isim{
            font-size: 14pt;
            font-weight: bold;
        }
}