alindilar{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
        #para{
            font-size: 11pt !important;
            color: red !important;
            font-weight: bold !important;
        }
        h2{
            //color:blue !important;
            font-size: 12pt !important;
            font-weight: italic !important;
        }

        #pleksayisi{
            font-size: 12pt;
            font-weight: bold;
           
        }
        #isim{
            font-size: 14pt;
            font-weight: bold;
        }
        p{
            font-size:12pt !important;
            
        }
         #dukkan{
            margin-top: 50px;
        }
     
}